* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

header {
    width: 100%;
    background-color: #f1f1f6;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #000;
    text-decoration: none;
}

.button {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

.b1 {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), -8px -8px 20px rgba(255, 255, 255, 0.6);
    transition: all .9s ease-in-out;
}

.b1:hover {
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.2), inset -8px -8px 10px rgba(255, 255, 255, 0.6);
}

main {
    padding: 20px;
}

footer {
    background-color: #d3d4de;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    border-radius: 10px;
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button {
    border-radius: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    input, textarea, button {
        font-size: 0.9em;
    }
}
